* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: rgb(25, 26, 30);
    color: white;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar {
    background: #5D676E;
    backdrop-filter: blur(15px);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar::-webkit-scrollbar {
    width: 0px;
}

.side-bar.active {
    left: 0;
}

.close-btn {
    position: absolute;
    color: #fff;
    font-size: 16px;
    right: 0px;
    margin: 15px;
    cursor: pointer;
}

.menu-btn {
    position: fixed;
    color: rgb(250, 250, 250);
    font-size: 35px;
    left: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 24px;
}

.side-bar h1 {
    margin-left: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.inside-sidebar {
    margin: 12px;
}

.inside-sidebar a {
    display: block; 
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: normal;
    text-decoration: none;
    background-color: #9B1833;
    cursor: pointer;
    margin: 6px 0;
    padding: 4px;
    color: white;
    border-radius: 16px;
    text-align: center;
}

.side-bar h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1rem;
    margin-top: 32px;
}
