@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

body {
    background: white;
    min-height: 100vh;
}

.menu-lateral {
    background: #1b1a1b;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6 ease;
    transition-property: left;

}

.botao-de-fechar {
    font-size: 30px;
    color: white;
    position: absolute;
    right: 0px;
    margin: 15px;
    cursor: pointer;
}

.menu-lateral h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    color: white;
    text-align: center;
}

.menu {
    width: 100%;
    margin-top: 30px;
}

.menu .item {
    position: relative;
    cursor: pointer;
}

.menu .item a {
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.item i {
    margin-right: 15px;
}


