* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #E6E6E6;
    color: white;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.side-bar {
    background: #5D676E;
    backdrop-filter: blur(15px);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar::-webkit-scrollbar {
    width: 0px;
}

.side-bar.active {
    left: 0;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 13px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.side-bar .menu {
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.20);
    margin: 0 16px;
    border-radius: 20px;
}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a {
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.side-bar .menu .item a:hover {
    background: #33363a;
    transition: 0.3s ease;
    border-radius: 20px;
}

.side-bar .menu .item i {
    margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    display: none;
}

.side-bar .menu .item .sub-menu a {
    padding-left: 80px;
}

.rotate {
    transform: rotate(90deg);
}

.close-btn {
    position: absolute;
    color: #fff;

    font-size: 23px;
    right: 0px;
    margin: 15px;
    cursor: pointer;
}

.menu-btn {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin: 25px;
    cursor: pointer;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.main h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    line-height: 80px;
}

.side-bar h1 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

@media (max-width: 900px) {
    .main h1 {
        font-size: 40px;
        line-height: 60px;
    }
}


.search-container {
    position: relative;
    margin-top: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #5D676E;    
    margin-bottom: 10px;
    justify-content: center;
    width: 300px;
}

.search-input {
    border: none;
    /* padding: 10px; */
    font-size: 16px;
    width: 300;
}

.search-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}