.search-container {
    position: fixed;
    bottom: 0px;
    top: auto;
    background-color: rgb(25, 26, 30);

    display: flex;
    align-items: center;
    min-height: 105px;
    width: 50%;
    border-radius: 20px 20px 0 0;
}

.input-container {
    margin-bottom: 30px;
    background: #5D676E;    
    border-radius: 20px;
    width: 100%;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    margin: 10px;
    border: none;
    font-size: 16px;
    width: 90%;
    background-color: transparent;
    outline: none;
    color: white;
    margin-left: 30px;
    flex: 1;
    overflow: auto;
    resize: none;
}

.search-input::placeholder {
    color: white;
}

.search-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    width: 10%;
    margin-right: 20px;
}

.search-button i {
    font-size: 18px;
}

.search-container .search-button i {
    color: white;
    width: 100%;
    height: 100%;
}

.frequent-questions {
    margin-top: 30px;
    background-color: #9B1833;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three-frequent-questions {
    display: flex;
    justify-content: space-between;
    margin: 32px;
    gap: 10px;
}

.frequent-questions h2 {
    margin-top: 10px;
}

.first-frequent-question {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.first-frequent-question img {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 80px;
}

.first-frequent-question p {
    margin: 16px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .three-frequent-questions {
        display: flex;
        flex-direction: column;
    }

    .first-frequent-question img {
        display: none;
    }
}


@media screen and (max-width: 480px) {
    .frequent-questions {
      width: 80%;
      margin-top: 20%;
    }

    .search-container {
        width: 90%;
    }

    .search-input {
        width: 80%;
        font-size: 12px;
    }
}